In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import os
import json
# Import API key
#from api_keys import gkey
file_to_load = 'outputs/2018_fires'
pd.set_option('mode.chained_assignment', None)
# Read Purchasing File and store into Pandas data frame
fire_df = pd.read_csv(file_to_load)

In [17]:
nocoords = fire_df[fire_df['Latitude'] == 0.00000 ].index
fire_df.drop(nocoords, inplace= True)
firehead= fire_df.head()
firehead

,Unnamed: 0,Name,Acres Burned,Latitude,Longitude,Fire Started,Fire Extinguished
0,0,Aqueduct Fire,30.0,35.92436,-119.94083,2018-04-12,2019-01-03
2,2,Haycamp Fire,50.0,35.96689,-121.28185,2018-02-07,2019-01-03
3,3,Pleasant Fire,2070.0,37.40208,-118.50235,2018-02-18,2019-01-03
5,5,Grant Fire,12.0,37.73835,-121.60390,2018-05-14,2019-01-04
7,7,Patterson Fire,1261.0,33.62924,-117.05992,2018-05-17,2019-01-04

In [18]:
datelist=[]
latitude=[]
longitude = []
temp = []
windspeed= []
precip = []
humidity = []
visi = []
pressure = []
cloudcover = []
windgust = []
uvindex = []
location = ''
date = ''
locationlist=[]

In [19]:
base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"
api_key='YOUR KEY HERE'
#location = '35.924360,-119.940830'




for index, row in fire_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    location = f"{lat},{lng}"
    date = row['Fire Started']
    call = f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key={api_key}&q={location}&format=json&date={date}&endate={date}&tp=24'
    response = requests.get(call).json()
    
    try: 

        locationlist.append(response['data']['request'][0]['query'])
        datelist.append((response['data']['weather'][0]['date']))
        temp.append(response['data']['weather'][0]['maxtempF'])
        windspeed.append(response['data']['weather'][0]['hourly'][0]['windspeedMiles'])
        precip.append(response['data']['weather'][0]['hourly'][0]['precipMM'])
        humidity.append(response['data']['weather'][0]['hourly'][0]['humidity'])
        visi.append(response['data']['weather'][0]['hourly'][0]['visibilityMiles'])
        pressure.append(response['data']['weather'][0]['hourly'][0]['pressureInches'])
        cloudcover.append(response['data']['weather'][0]['hourly'][0]['cloudcover'])
        windgust.append(response['data']['weather'][0]['hourly'][0]['WindGustMiles'])
        uvindex.append(response['data']['weather'][0]['hourly'][0]['uvIndex'])
        latitude.append(row['Latitude'])
        longitude.append(row['Longitude'])
 #   hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
    except:
        print(f"couldn't find information for {index}" )
#print(response)    
  #  hist_weather_data_2010 = retrieve_hist_data(api_key,
                               # location,
                               # date,
                               # end_date,
                               # frequency,
                               # location_label = False,
                               # export_csv = True,
                               # store_df = True)

couldn't find information for 227
couldn't find information for 278

In [20]:
data_df = pd.DataFrame({'Latitude':latitude,
                        'Longitude':longitude,
            'Precipitation(MM)':precip, 
           'Humidity':humidity,
           'Temperature':temp, 
           'Humidity': humidity,
           'Wind Speed': windspeed,
            'Wind Gust': windgust,
            'Temperature':temp,
           'Cloud Cover':cloudcover,
            'Date':datelist})
data_df

,Latitude,Longitude,Precipitation(MM),Humidity,Temperature,Wind Speed,Wind Gust,Cloud Cover,Date
0,35.924360,-119.940830,0.1,48,64,15,21,6,2018-04-12
1,35.966890,-121.281850,0.0,58,68,5,9,0,2018-02-07
2,37.402080,-118.502350,0.1,35,47,11,16,1,2018-02-18
3,37.738350,-121.603900,0.0,67,74,5,7,8,2018-05-14
4,33.629240,-117.059920,0.0,65,67,5,7,1,2018-05-17
...,...,...,...,...,...,...,...,...,...
297,34.180750,-117.431840,0.0,11,70,8,11,16,2018-11-13
298,37.611580,-121.941820,0.0,22,71,3,4,6,2018-11-14
299,34.301667,-119.099167,0.0,38,70,5,8,48,2018-11-15
300,34.267348,-118.643816,0.0,19,68,9,15,0,2018-11-12
301,37.128570,-122.120360,0.0,31,68,2,3,4,2018-11-16

In [21]:
data_df.to_csv("outputs/weatherlat2018.csv" , index = True)
fire_df.to_csv("outputs/fire2018clean.csv")

In [ ]:
print(response['data']['weather'])