In [2]:
import os
import json
import pandas as pd
import matplotlib as plt

In [7]:
file_to_load = 'outputs/2018_fires'
pd.set_option('mode.chained_assignment', None)
# Read Purchasing File and store into Pandas data frame
fire18_df = pd.read_csv(file_to_load)
fire18_df

,Unnamed: 0,Name,Acres Burned,Latitude,Longitude,Fire Started,Fire Extinguished
0,0,Aqueduct Fire,30.0,35.924360,-119.940830,2018-04-12,2019-01-03
1,1,Montecito Flooding / Mudflows,0.0,0.000000,0.000000,2018-01-09,2019-01-03
2,2,Haycamp Fire,50.0,35.966890,-121.281850,2018-02-07,2019-01-03
3,3,Pleasant Fire,2070.0,37.402080,-118.502350,2018-02-18,2019-01-03
4,4,Wilcox Fire,33.0,0.000000,0.000000,2018-02-18,2019-01-03
...,...,...,...,...,...,...,...
305,305,Sierra Fire,147.0,34.180750,-117.431840,2018-11-13,2019-01-04
306,306,Niles Fire,20.0,37.611580,-121.941820,2018-11-14,2019-01-04
307,307,Briggs Fire,150.0,34.301667,-119.099167,2018-11-15,2019-01-04
308,308,Peak Fire,186.0,34.267348,-118.643816,2018-11-12,2019-01-04
309,309,Bear Fire,10.0,37.128570,-122.120360,2018-11-16,2019-01-04

In [8]:
file_to_load = 'outputs/2015_fires'
pd.set_option('mode.chained_assignment', None)
# Read Purchasing File and store into Pandas data frame
fire15_df = pd.read_csv(file_to_load)
fire15_df

,Unnamed: 0,Name,Counties,Acres Burned,Latitude,Longitude,Fire Started,Fire Extinguished
0,0,Stephens Fire,Siskiyou,200,41.485000,-121.851000,2015-02-24,2015-03-02
1,1,Round Fire,"Inyo, Mono","7,000",0.000000,0.000000,2015-02-06,2015-02-12
2,2,Van Dyke Fire,Mono,509,0.000000,0.000000,2015-02-06,2015-02-20
3,3,Otay Fire,San Diego,80,32.644916,-116.945439,2015-06-26,2015-06-26
4,4,Ward Fire,Plumas,137,40.050833,-120.701667,2015-04-13,2015-04-18
...,...,...,...,...,...,...,...,...
152,152,Cienega Fire,San Benito,670,36.708540,-121.327340,2015-10-12,2015-10-16
153,153,Gibraltar Fire,Santa Barbara,21,34.482800,-119.632160,2015-10-29,2015-11-09
154,154,McCourtney Fire,Nevada,30,39.081000,-121.194000,2015-09-22,2015-09-21
155,155,Tassajara Fire,Monterey,"1,086",36.369964,-121.589554,2015-09-19,2015-09-27
156,156,Laureles Fire,Monterey,95,36.569637,-121.755603,2015-09-19,2015-09-21

In [9]:
file_to_load = 'outputs/2013_fires'
pd.set_option('mode.chained_assignment', None)
# Read Purchasing File and store into Pandas data frame
fire13_df = pd.read_csv(file_to_load)
fire13_df

,Unnamed: 0,Name,Acres Burned,Latitude,Longitude,Fire Started,Fire Extinguished
0,0,Becks Fire,296.0,0.000000,0.000000,2013-01-22,2013-01-23
1,1,River Fire,406.0,36.602575,-118.016510,2013-02-24,2013-02-28
2,2,Jurupa Fire,311.0,0.000000,0.000000,2013-02-28,2013-03-02
3,3,Butte Fire,80.0,0.000000,0.000000,2013-04-09,2013-04-09
4,4,Fawnskin Fire,30.0,34.288877,-116.941311,2013-04-20,2013-04-22
...,...,...,...,...,...,...,...
154,154,Dam Fire,23.0,38.928900,-122.581800,2013-11-23,2013-11-24
155,155,Happy Camp Fire,44.0,0.000000,0.000000,2013-12-10,2013-12-11
156,156,Pfeiffer Fire,917.0,0.000000,0.000000,2013-12-16,2013-12-20
157,157,Refuse Fire,15.0,0.000000,0.000000,2013-12-30,2013-12-30
158,158,Grant Fire,40.0,37.342186,-121.717706,2013-12-31,2013-12-31